body{
	background-image:url(https://media.giphy.com/media/xT4uQF7h39mlsF5czK/giphy.gif);
	background-size:cover;
	font-family:Raleway,Open Sans,Droid Sans,arial,sans-serif;
}


.bio{
	width:600px;
	height:200px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align:center;
	color:#00ff11;
}

h1,h2{
	font-weight:100;
}
h2{
	font-size:15px;
}

.social-links{margin-top:50px;}
a{
	color:#00ff11;
	text-decoration:none;
}
a:hover{text-decoration:underline}
.fa{margin:0 10px;}
